.login {
  margin: 20px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  .form-group,
  .login-button {
    margin: 10px 0;
    width: 100%;
  }

  .fade-enter {
    opacity: 0.01;
    height: 0px;
  }
  .fade-enter-active {
    opacity: 1;
    height: 65px;
    transition: all 300ms;
  }
  .fade-exit {
    opacity: 1;
    height: 65px;
  }
  .fade-exit-active {
    opacity: 0.01;
    height: 0px;
    transition: all 300ms;
  }

  .toggle-login {
    display: flex;
    justify-content: flex-end;
    .toggle-button {
      margin-left: 5px;
    }
    .toggle-button:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
.error-callout {
  margin: 10px 0;
  //   margin-top: 100px;
  //   margin-left: 20px;
  //   max-width: 450px;
  .error-callout-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
