@use '../util/variables.module';
@use '@blueprintjs/core/lib/scss/variables' as bp;

.page {
  // padding-top: 85px;
  position: relative;
  @media only screen and (max-width: variables.$mobile-width),
    (max-height: variables.$mobile-width) {
    padding-top: bp.$pt-navbar-height;
  }
}

.mobile-header-wrapper {
  .mobile-header-content {
    height: bp.$pt-navbar-height;
    padding: 0 15px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bp.$white;
    .#{bp.$bp-ns}-dark & {
      background-color: bp.$dark-gray5;
    }

    .left-align {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .right-align {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .logo {
      max-height: 50px;
      margin-left: 10px;
    }

    .recipe-search {
      margin-left: 5px;
      margin-right: 15px;

      .#{bp.$bp-ns}-input {
        transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        width: 40vw;
      }
      .#{bp.$bp-ns}-input:focus {
        width: 45vw;
      }
    }
  }

  .mobile-header-menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
    padding: unset;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 10;
    .#{bp.$bp-ns}-dark & {
      background-color: bp.$dark-gray5;
      box-shadow:
        0 0 0 1px rgba(17, 20, 24, 0.2),
        0 0 0 rgba(17, 20, 24, 0),
        0 1px 1px rgba(17, 20, 24, 0.4);
    }
    .settings {
      margin: 0 20px;
      padding: 10px 0;
      display: flex;
      align-items: center;

      .#{bp.$bp-ns}-switch {
        margin-bottom: 0;
      }

      .spacer {
        flex-grow: 1;
      }
    }
    .navigation {
      padding-bottom: 10px;
      margin: 0 20px;
    }
  }
}

.mobile-header-menu-clicker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

.nav-icon2-wrapper {
  padding: 0 10px;
}

#nav-icon2 {
  width: 24px;
  height: 18px;
  position: relative;
  margin: 25px auto;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 2.4px;
  width: 50%;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  background: bp.$dark-gray1;
}

.#{bp.$bp-ns}-dark {
  #nav-icon2 span {
    background: bp.$light-gray5;
  }
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 2.4px 2.4px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 2.4px 0 0 2.4px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 7.2px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 14.4px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 2px;
  top: 2.8px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 2px);
  top: 2.8px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 2px;
  top: 11.6px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 2px);
  top: 11.6px;
}
