@use '@blueprintjs/core/lib/scss/variables' as bp;

.create-shopping-list-popover {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .#{bp.$bp-ns}-button {
    margin-top: 10px;
  }
}

.shopping-list-select-list {
  width: fit-content;
  margin: auto;
}

.shopping-list-wrapper {
  margin: 20px 15px;

  .shopping-list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .edit-container {
      display: flex;
      justify-content: flex-end;
    }
  }

  .shopping-list {
    margin: 20px 0;

    .fake-divider {
      margin: 5px;
      height: 0.66666px;
    }

    .#{bp.$bp-ns}-divider {
      margin: 5px 0;
    }

    .shopping-item {
      display: flex;
      justify-items: flex-start;
      align-items: center;
      margin: 0;
      .spacer {
        flex-grow: 1;
      }
      .shopping-item-checkbox {
        margin-bottom: 0;
      }
      .drag-handle {
        margin-right: 10px;
        cursor: move;
      }

      .my-editable-text {
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .my-editable-text.#{bp.$bp-ns}-editable-text-editing {
        overflow: visible;
      }
      .new-icon {
        margin-right: 10px;
      }
    }
  }
}
.mobile {
  .shopping-list {
    margin: 10px 0;
  }
}

.shopping-list-status-element {
  margin: 0 20px;
  display: flex;
  align-items: center;
  .text {
    margin-left: 10px;
  }
  .my-spinner {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  .my-spinner:after {
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    margin: 2.8px;
    border-radius: 50%;
    border: 2.3px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: my-spinner 1.2s linear infinite;
  }
  @keyframes my-spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.#{bp.$bp-ns}-dark .shopping-list-status-element .my-spinner:after {
  border: 2.3px solid #fff;
  border-color: #fff transparent #fff transparent;
}
