@use "@blueprintjs/core/lib/scss/variables" as bp;

.description-select-popover .#{bp.$bp-ns}-menu {
  max-height: 350px;
  max-width: 90vw;
  overflow: auto;
  .#{bp.$bp-ns}-popover-content {
    padding: 5px;
  }
}
.recipe-container-mobile {
  .description {
    textarea {
      padding: 10px;
    }
  }
}
