.comment-section {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
  .comment-count {
    margin: 20px;
  }
  .comment {
    margin: 15px 20px;
    display: flex;
    min-height: 75px;
    .content {
      flex: 1 0;
      .header {
        display: flex;
        .date::before {
          content: "-";
          margin: 0 5px;
        }
      }
      .text {
        margin-left: 10px;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
    .controls {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 5px;
    }
  }
}

.mobile {
  .comment {
    flex-direction: column;
    .header .more {
      flex: 1 0;
      display: flex;
      justify-content: flex-end;
    }
    .controls {
      align-self: flex-end;
      justify-content: flex-start;
    }
  }
}
