@import "~@blueprintjs/core/lib/scss/variables";

.description-select-popover .#{$bp-ns}-menu {
  max-height: 350px;
  max-width: 90vw;
  overflow: auto;
  .#{$bp-ns}-popover-content {
    padding: 5px;
  }
}
.recipe-container-mobile {
  .description {
    textarea {
      padding: 10px;
    }
  }
}
