@use '@blueprintjs/core/lib/scss/variables' as bp;

.main-content {
  .error {
    margin: 20px auto;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0 25px;
  }
}
.side-menu .sort-recipes .#{bp.$bp-ns}-popover-wrapper .#{bp.$bp-ns}-popover-target {
  display: unset;
}

.fab-add {
  position: fixed;
  top: calc(100vh - 100px);
  right: 30px;
  font-size: 40px !important;
  box-shadow:
    0 0 0 1px rgba(16, 22, 26, 0.2),
    0 4px 8px rgba(16, 22, 26, 0.4),
    0 9px 46px 6px rgba(16, 22, 26, 0.4) !important;
  border-radius: 100%;
  border: none;
  outline: none;
}

.mobile {
  .sort-filter {
    .menu-item {
      margin: 20px auto;
      max-width: 80%;
    }
  }
}
