.menu {
  position: sticky;
  top: 105px;
  margin: 15px;
  flex: 0 1 25%;
  max-width: 280px;
  height: fit-content;

  .menu-item {
    margin: 20px 0;
  }
  .navigation-link {
    margin: 5px 0;
  }
  .menu-item:first-child, .navigation-link:first-child {
    margin-top: 0;
  }
  .menu-item:last-child, .navigation-link:last-child {
    margin-bottom: 0;
  }
}

.mobile {
  .menu {
    display: flex;
    flex-direction: column;
    > * {
      margin: 10px 0;
    }
    div:first-child {
      margin-top: 0;
    }
    div:last-child {
      margin-bottom: 0;
    }
    // weird bug in blueprint?
    .sort-recipes > div > div {
      width: 100%;
    }
  }
}
