.menu {
  margin: 15px;
  flex: 0 1 25%;
  max-width: 280px;
  height: fit-content;

  .menu-item {
    margin: 20px 0;
  }
  .navigation-link {
    margin: 5px 0;
  }
  .menu-item:first-child, .navigation-link:first-child {
    margin-top: 0;
  }
  .menu-item:last-child, .navigation-link:last-child {
    margin-bottom: 0;
  }
}

.mobile {
  .menu {
    // using padding for collapse auto height to work
    padding-top: 20px;
    padding-bottom: 10px;
    flex: unset;
    max-width: unset;
    margin: unset;

    .settings {
      margin: 20px;
      margin-top: 0;
      display: flex;
      align-items: center;
      .spacer {
        flex-grow: 1;
      }
      .logout-button {
        margin-left: 10px;
      }
    }

    .control {
      margin: 0 20px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;

      > * {
        margin: 7.5px;
      }

      .filter-categories,
      .filter-users {
        flex: 1 1 200px;
      }
    }
  }
}
