.shopping-list-wrapper {
  margin: 15px;
  margin-top: 0;

  .shopping-list {
    margin: 20px;

    .fake-divider {
      margin: 5px;
      height: 0.66666px;
    }

    .shopping-item {
      padding-right: 20px;
      display: flex;
      justify-items: flex-start;
      align-items: center;
      margin: 0;
      .spacer {
        flex-grow: 1;
      }
      .shopping-item-checkbox {
        margin-bottom: 0;
      }
      .drag-handle {
        margin-right: 10px;
      }
      .drag-handle.active {
        cursor: grab;
      }

      .new-text {
        margin-right: 40px;
        flex-grow: 1;
      }
      .new-icon {
        margin-right: 10px;
      }
    }
  }
}
