@import "~@blueprintjs/core/lib/scss/variables";

$mobile-width: 700px;
$content-background-color: $light-gray5;
$dark-content-background-color: $dark-gray4;

:export {
  mobileWidth: $mobile-width;
}