@import "~@blueprintjs/core/lib/scss/variables";
@import "util/variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,500;0,600;1,500&family=Ubuntu:wght@400;700&display=swap");

body,
.#{$bp-ns}-button,
.#{$bp-ns}-input,
.#{$bp-ns}-input-ghost {
  font-family: "Ubuntu", sans-serif;
}
body {
  width: 100%;
}
.page {
  min-height: 100vh;
  background-color: $content-background-color;
}

.#{$ns}-dark {
  .page {
    background-color: $dark-content-background-color;
  }
}
.#{$ns}-dark .#{$ns}-button:not([class*="#{$ns}-minimal"]):not([class*="#{$ns}-disabled"]) {
  box-shadow: 0 0 0 1px rgba($dark-gray1, 0.5);
}
.#{$ns}-dark .#{$ns}-button-group.#{$ns}-minimal .#{$ns}-button {
  box-shadow: none;
}
.#{$ns}-dark .#{$ns}-button.#{$ns}-disabled:not([class*="#{$ns}-minimal"]) {
  box-shadow: 0 0 0 1px rgba($dark-gray1, 0.5);
}

// toast container was position: absolute and scrolled with the page
.#{$ns}-toast-container.#{$ns}-toast-container-inline {
  position: fixed;
}

.#{$bp-ns}-dialog {
  margin: 30px 20px;
}

:focus {
  outline: none !important;
}
button::-moz-focus-inner {
  border: 0;
}

.mobile-menu-item {
  font-size: larger;
  line-height: 1.5em;
}
